/* styles.css */

.login-container {
  max-width: 300px;
  margin: 100px auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
}
.mainbox{
  /* margin-left: 25%; */
  display: flex;
  align-items: center;
}
.input-group {
  margin-bottom: 20px;
}

label {
  display: block;
  margin-bottom: 5px;
}

input {
  width: 100%;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.error {
  color: red;
  font-size: 0.8em;
}

button {
  padding: 10px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

button:hover {
  background-color: #0056b3;
}
.home{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
#forgot{
  /* text-decoration: none; */
  color: #455ab7;
}